html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Messina Sans';
  font-weight: 400;
}

#map {
  height: 100%;
}

#info {
  position: fixed;
  top: 16px;
  left: 16px;
  width: 260px;
  background: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
}

#info a, #info a:active, #info a:hover, #info a:visited {
  color: #2979FF;
  text-decoration: none;
  line-height: 40px;
}

#headline {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

#body {
  overflow-y: auto;
  max-height: 200px;
}

#options {
  margin-top: 24px;
}

#options input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
}

#options input::placeholder {
  font-size: 14px;
}
